* {
    margin: 0;
    padding: 0;
}

.gallery {
    overflow: hidden;
}

.red {
    border: solid 1px red;
}

#main-img {
    background: url(/images/img_00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.tmbs {
    display: flex;
}

.thumb {
    width: 14.2%;
}

.thumb img{
    width: 100%;
    cursor: pointer;
}
.thumb img:hover {
    border: 6px solid rgb(196, 241, 228);
}